<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
  <head>
    <title>Multiplayer Demo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dongle:wght@300;700&display=swap" >
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
  </head>
  <body>
  <sec:authorize access="isAuthenticated()">
    <span id="user_id" hidden sec:authentication="name"></span>
    <span id="user_name" hidden th:text="${data}"></span>
    <span id="user_auth" hidden sec:authentication="principal.authorities"></span>
  </sec:authorize>


  <div class="game-container">
    </div>
    <div class="player-info">
      <div>
        <button id="player-color">Change Color</button>
      </div>
    </div>
    <div class="player-chat-div">
      <div class="player-chat-show-div">
        <ul id="player-chat-show-ul" class="player-chat-show-ul">
        </ul>
      </div>
      <div class="player-chat-enter-div">
        <input id="player-chat-enter" class="player-chat-enter-input" type="text"/>
        <button id="player-chat-enter-b" type="button">보내기</button>
      </div>
    </div>
    <script src="/js/KeyPressListener.js"></script>
    <script type="module" src="/js/app.js"></script>
    <script type="module" src="/js/chat.js"></script>
    <script src="/webjars/axios/0.17.1/dist/axios.min.js"></script>
    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>
</html>